In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.

application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df=application_df.drop(columns=['EIN', 'NAME', 'SPECIAL_CONSIDERATIONS'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,142590,1

In [3]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutOff_value= 150
application_types_to_replace=application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutOff_value].index.to_list()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutOff_value_class= 100
classifications_to_replace=application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutOff_value_class].index.to_list()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [5]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df=pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [6]:
# Split our preprocessed data into our features and target arrays
y=application_df['IS_SUCCESSFUL']
X=application_df.drop('IS_SUCCESSFUL',axis=1)


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=70, activation="relu", input_dim=48))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=50, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 70)                3430

 dense_7 (Dense)             (None, 50)                3550

 dense_8 (Dense)             (None, 1)                 51

=================================================================
Total params: 7031 (27.46 KB)
Trainable params: 7031 (27.46 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 487us/step - loss: 0.5667 - accuracy: 0.7233
Epoch 2/50
804/804 [==============================] - 0s 478us/step - loss: 0.5531 - accuracy: 0.7287
Epoch 3/50
804/804 [==============================] - 0s 483us/step - loss: 0.5493 - accuracy: 0.7325
Epoch 4/50
804/804 [==============================] - 0s 480us/step - loss: 0.5478 - accuracy: 0.7331
Epoch 5/50
804/804 [==============================] - 0s 538us/step - loss: 0.5467 - accuracy: 0.7332
Epoch 6/50
804/804 [==============================] - 0s 472us/step - loss: 0.5451 - accuracy: 0.7340
Epoch 7/50
804/804 [==============================] - 0s 474us/step - loss: 0.5459 - accuracy: 0.7338
Epoch 8/50
804/804 [==============================] - 0s 471us/step - loss: 0.5444 - accuracy: 0.7333
Epoch 9/50
804/804 [==============================] - 0s 474us/step - loss: 0.5438 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 0s 477us/step - loss: 0.5428 - accuracy: 0.7360
Epoch 11/50
804/804 [==============================] - 0s 473us/step - loss: 0.5424 - accuracy: 0.7355
Epoch 12/50
804/804 [==============================] - 0s 473us/step - loss: 0.5422 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 0s 473us/step - loss: 0.5411 - accuracy: 0.7350
Epoch 14/50
804/804 [==============================] - 0s 527us/step - loss: 0.5415 - accuracy: 0.7357
Epoch 15/50
804/804 [==============================] - 0s 484us/step - loss: 0.5411 - accuracy: 0.7363
Epoch 16/50
804/804 [==============================] - 0s 520us/step - loss: 0.5404 - accuracy: 0.7357
Epoch 17/50
804/804 [==============================] - 0s 507us/step - loss: 0.5405 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 0s 491us/step - loss: 0.5395 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 0s 481us/step - loss: 0.5398 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 0s 535us/step - loss: 0.5393 - accuracy: 0.7376
Epoch 21/50
804/804 [==============================] - 0s 476us/step - loss: 0.5393 - accuracy: 0.7373
Epoch 22/50
804/804 [==============================] - 0s 477us/step - loss: 0.5387 - accuracy: 0.7369
Epoch 23/50
804/804 [==============================] - 0s 477us/step - loss: 0.5383 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 0s 483us/step - loss: 0.5388 - accuracy: 0.7371
Epoch 25/50
804/804 [==============================] - 0s 483us/step - loss: 0.5380 - accuracy: 0.7375
Epoch 26/50
804/804 [==============================] - 0s 481us/step - loss: 0.5377 - accuracy: 0.7383
Epoch 27/50
804/804 [==============================] - 0s 526us/step - loss: 0.5375 - accuracy: 0.7378
Epoch 28/50
804/804 [==============================] - 0s 526us/step - loss: 0.5375 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 0s 476us/step - loss: 0.5373 - accuracy: 0.7378
Epoch 30/50
804/804 [==============================] - 0s 476us/step - loss: 0.5368 - accuracy: 0.7386
Epoch 31/50
804/804 [==============================] - 0s 478us/step - loss: 0.5370 - accuracy: 0.7384
Epoch 32/50
804/804 [==============================] - 0s 477us/step - loss: 0.5367 - accuracy: 0.7379
Epoch 33/50
804/804 [==============================] - 0s 498us/step - loss: 0.5367 - accuracy: 0.7388
Epoch 34/50
804/804 [==============================] - 0s 482us/step - loss: 0.5364 - accuracy: 0.7376
Epoch 35/50
804/804 [==============================] - 0s 482us/step - loss: 0.5365 - accuracy: 0.7393
Epoch 36/50
804/804 [==============================] - 0s 544us/step - loss: 0.5362 - accuracy: 0.7386
Epoch 37/50
804/804 [==============================] - 0s 488us/step - loss: 0.5360 - accuracy: 0.7385
Epoch 38/50
804/804 [==============================] - 0s 488us/step - loss: 0.5357 - accuracy: 0.7387
Epoch 39/50
804/804 [==============================] - 0s 479us/step - loss: 0.5357 - accuracy: 0.7387
Epoch 40/50
804/804 [==============================] - 0s 488us/step - loss: 0.5355 - accuracy: 0.7398
Epoch 41/50
804/804 [==============================] - 1s 705us/step - loss: 0.5355 - accuracy: 0.7402
Epoch 42/50
804/804 [==============================] - 0s 488us/step - loss: 0.5350 - accuracy: 0.7396
Epoch 43/50
804/804 [==============================] - 0s 542us/step - loss: 0.5352 - accuracy: 0.7402
Epoch 44/50
804/804 [==============================] - 0s 506us/step - loss: 0.5351 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 0s 500us/step - loss: 0.5352 - accuracy: 0.7395
Epoch 46/50
804/804 [==============================] - 0s 494us/step - loss: 0.5348 - accuracy: 0.7399
Epoch 47/50
804/804 [==============================] - 0s 485us/step - loss: 0.5344 - accuracy: 0.7392
Epoch 48/50
804/804 [==============================] - 1s 658us/step - loss: 0.5345 - accuracy: 0.7398
Epoch 49/50
804/804 [==============================] - 0s 489us/step - loss: 0.5348 - accuracy: 0.7395
Epoch 50/50
804/804 [==============================] - 0s 555us/step - loss: 0.5347 - accuracy: 0.7386

In [21]:
# Evaluate  model against full test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5517 - accuracy: 0.7282 - 136ms/epoch - 509us/step
Loss: 0.5516601800918579, Accuracy: 0.7281632423400879

In [ ]:
fit_model.save("AlphabetSoupCharity_Optimization.h5")

/Users/Love/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(